/**{
    margin: 0;
    padding: 0;
}*/
/*body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222222;
}*/
#box{
    width: 80%;
    text-align: center;
    margin: 0 0 0 50%;
    float:left;
}
#content
{
    background-color: #b3dae9;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    border:1px solid #EEEEEE;
    float:left;
    font-family:'Regencie';
    margin: 5% 0 0 5%;
}
/*h4{
    font-size: 16px;
}
h4,p{
    padding: 10px 0;
}*/
#btn{
    width: 80px;
    float:left;
}
#spread{
    text-align: left;
    height: 0px;
    overflow: hidden;
}
