*
{
	text-align: center;


}

#p1
{
	text-align: center;
	margin: -1% 0 6% 0;
	font-size: 100%
}



.body__homepage
{
	background-image: url("/EE101-Final_Project/Final_Project/pics/cover1.jpg");
	background-attachment: fixed;

	background-size: 130%;
	background-position: center;
	text-align: center;
	/*background-color: #EDC7D0;*/
	color: #FFFFFF;
	font-family:'Agnes-Bold';
	font-size: 200%;
}

.input_clear
{
	margin: 25% 0 -3% 29%;	
	cursor:pointer;
	/*display:none;*/
 	z-index: 900;
}

.h1
{
	color: #FFFFFF;
	font-family:'ChannelSlanted2';
	font-style: italic;
	margin: -8% 3% -5% 45%;/*上 右 下 左*/
}

.head_pic
{
	margin: 3% 60% 0 0;
	width:auto;
	height: auto;
	max-height: 30%;
	max-width: 30%;
}

.input_button/*cyf：网上扒的代码，改变的是input框的样式，注释的链接https://www.cnblogs.com/cnsevennight/p/4143792.html
没注释的是菜鸟教程上的*/
{

	width: 50%;
	padding: 1.2% 1%;
/*	margin: 8px 0;
*/	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	/*border: 3px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
	text-align: left;
	margin: 10% 30% -20% 0;
	z-index: 10;
}



.jump_to
{
	width: 10%;
	padding: 1% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: left;
	margin: -50% 10% 0 0;
	z-index: 10;
}

.go
{
	width: 4%;
	background-color: #3385ff;
	color: white;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	margin: 10% 10% 0 80%;
	font-family:'HelveticaNeue';

}

.submit_reset
{
	width: 5%;
	background-color: #3385ff;
	color: white;
	padding: 1% 0 1% 0;
	border: none;
	border-radius: 4px;
/*	cursor: pointer;*/
	/*border: 3px solid #ccc;
	padding: 1% 1%;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
	text-align: center;
	margin: -80% -28% -80% 30%;
	font-family:'HelveticaNeue';
/*	font-family:'Impact';*/
transition-duration: 0.4s;
}

.submit_reset:hover
{
	background-color: #FFFFFF;
	color: #3385ff;
	font-family:'HelveticaNeue';
}

.p2
{
	/*margin: -5% 25% 0 25%;*/
	font-family:'Helvetica-LT-Light';
	vertical-align: bottom;
	font-size: 75%;
}

.table__result
{
	margin: 0 auto;
	width: 88%;
	border: 0;
	text-align: center;
}

.table__result tr	/*new line*/
{
	line-height: 30px;
	border-color: #ccc;
}

.table__result th	/*table header*/
{
	text-align: center;
	color: #928484;
	/*	background: #E4DCDC;*/
}

.table__result td	/*new row of a line*/
{
	text-align: center;
	border-color: #ccc;
}

.table__result tr:nth-child(odd)
{
	background: #ccc;
	color: white
}

.table__result tr:nth-child(even)
{
	color: black;
}


.table__result td:nth-child(1)	/*Title*/
{
	font-family: Arial;
	font-style: italic;

}

.table__result td:nth-child(2)	/*Author Name*/
{
	font-family: New Times Roman;
	font-style: normal;
}

.table__result td:nth-child(3)	/*Conference Name*/
{
	font-family: Chaparral Pro Light;
	font-style: italic;
}

.table__recommend
{
	vertical-align: text-top;
}


#all__return_to_homepage_image
{
	width: 30px;
	margin-top: -10%;
	margin-left: -90%;
}

.search__Widget_title
{
	width: 150px;
}


#form__jump_to__inline
{
	margin:0px;
	display: inline;
}

#form__jump_to__right_hand
{
	align-self: right;
	text-align: right;
	margin-right: 20%;
}

#search__Turn_Page_prev_page
{
	/*size: 20%;*/
	width: 100px;
	height: 50px;
	/*cursor: pointer;*/
}

#search__Turn_Page_selected/*all pages*/
{
	width: 28px;
	margin: 14px 0 0 0;
	/*cursor: pointer;*/
}

#search__Turn_Page_not_selected
{
	width: 28px;
	margin: 14px 0 0 0;
	/*cursor: pointer;*/
}

#search__Turn_Page_next_page
{
	width: 100px;
	/*cursor: pointer;*/
}

#search__Turn_Page_empty
{
	width: 30px;
	/*width: 100px;*/
	/*cursor: pointer;*/
}

.table__Turn_Page
{
	margin: 0 auto;
	text-align: center;
}

.all__Turn_Page_jump_to_number/*all pages*/
{
	width: 5%;
}

/*Disable Up and Down Arrows*/
/*Chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none !important;
	margin: 0; 
}
/*Firefox*/
input[type="number"]
{
	-moz-appearance:textfield;
}

.output_href
{
	text-decoration: none;
	font-family:'Regencie';
}

/*.spinner {
  margin: 100px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  /*animation-delay: -1.1s;*/
  animation-delay: 4s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  /*animation-delay: -1.0s;*/
  animation-delay: 3s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  /*animation-delay: -0.9s;*/
  animation-delay: 2s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  /*animation-delay: -0.8s;*/
  animation-delay: 1s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.n-button
{
	margin: 0 0 0 70%;
	border: 1px;
	border-radius: 5px;
	width:  300px;
	height: 35px;
	text-align: left;
}

.n_button
{
	border: 1px;
	width:  300px;
	height: 35px;
	text-align: left;
}

.input_search
{
	/*margin: -5% 0 0 90%;*/
	width: 5%;
	padding: 0.5% 0.5%;
/*	margin: 8px 0;
*/	display: inline-block;
	border: 1px solid #ccc;
	/*border-radius: 4px;*/
	box-sizing: border-box;
	/*border: 3px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
	text-align: left;
	z-index: 10;	
	background-color: #3385ff;
	color: white;
}

.jump_page_button
{
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
	background-color: #3385ff;
	color: white;
    border: 1px solid #d5d5d5;

}


.output_href
{
	font-family:'Regencie';
	color: black;
}