
body
{
}

#title
{

	margin: 13% 0 15% 0%;
	size: huge;
	font-family:'NewsGothicBT-Roman';
 
}

#paper_title
{
	color: black;
}

#author_name
{
	color: blue;
}

#conference_name
{
	color: black;
}

#conference_table
{
	margin: -10% 0% 10% 37%;
	border: 0px;
	width: 850px;
}


