
#advanced_search_head
{
	position: fixed;
	left:0px;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: #838DFE;
}

#acemap
{
	height: 30%;
}

#test
{
	height: 10%;
	display: inline;
}

#advanced_ancestor_margin	/*margin*/
{
	position: fixed;
	left: 0px;
	top: 10%;
	width:25%;
	background-color: #D8E5E9;
	/*background-color: #E7E3E3;*/
	height: 15%;
}

.advanced_ancestor	/*serach box - altogether*/
{
	/*display: none;*/
	position: fixed;
	left: 0px;
	top:10%;
	/*top: 30%;*/
	background-color: #D8E5E9;
	/*background-color: #E7E3E3;*/
	height: 90%;
	/*height: auto;*/
	width: 25%;
	overflow-y: auto;
	overflow-x: hidden;
}

#advanced_search_rows_add_del	/*Search box - all rows and the add & del buttons*/
{
	width: 95%;
	margin: 1% auto;
	border: 3px #808080 solid;
	border-radius: 0.5vw;
}

#advanced_boxes_root	/*serach box - container of all lines of search boxes*/
{}

.advanced_box	/*every line of box*/
{}

#advanced_search_bool_select	/*select bool*/
{
	height: 10%;
	width: 20%;
	background-color: #EDEDED;
}

#advanced_search_target_select	/*select target*/
{
	height: 10%;
	width: 30%;
	background-color: #E8FDF9;
	border-radius: 5px;
}

#advanced_search_word_input_text	/*input_text word*/
{
	height: 10%;
	width: 40%;
	background-color: #EAEAEA;
	border-radius: 5px;
}

#advanced_search_result_ancestor/*serach result - altogether*/
{	
	/*position: absolute;*/
	margin-top: 5%;
	/*margin-left: 3%;*/
	height: 90%;
	width: 97%;
	/*margin-left:25%;*/
}

#advanced_search_default_result_image
{
	/*height: 10%;*/
	width: 100%;
	max-width: 100%;
	max-height: 90%;
	/*display: block;*/
}

.advanced_search_result	/*search result*/
{}

.advanced_search_result_turn_page	/*search result - turn page*/
{}

/*#advanced_search_add_del_box
{
	margin-left:20%;
	width:10vw;
	height:1vw;
}*/

#advanced_search_add_box	/*button - add line*/
{
	height: 3vw;
	width: 3vw;
	background-color: white;
	color: #3385ff;
	padding: 1% 0 1% 0;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	font-weight: 900;
	text-align: center;
	/*line-height: 0.5vw;
	vertical-align: middle;*/
	font-size: 1.5vw;
	/*margin: -20% -28% 15% 30%;*/
	font-family:'HelveticaNeue';
/*	width: 50px;
	height: 50px;*/
}

#advanced_search_del_box	/*button - del line*/
{
	height: 3vw;
	width: 3vw;
	background-color: #3385ff;
	color: white;
	padding: 1% 0 1% 0;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 1.5vw;
	/*margin: -20% -28% 15% 30%;*/
	font-family:'HelveticaNeue';
	/*width: 50px;
	height: 50px;*/
	display: none;
}

#advanced_search_submit	/*button - submit*/
{
	height: 5vw;
	width: 5vw;
	background-color: #9FFBEC;
	padding: 1% 0 1% 0;
	margin-left: 55%;
	border: none;
	border-radius: 40px;
	cursor: pointer;
/*	width: 25%;
	height: 10%;*/
}
#advanced_search_submit_image
{
	/*position:center;*/
	margin-top: 0.44vw;
	height: 3vw;
	width: 3vw;
	cursor:pointer;
}

#advanced_search_hide_show
{
	position: fixed;
	top:10%;
	/*top: 30%;*/
	left: 25%;
	background-color: #F5F2F2;
	cursor: pointer;
	width: 3%;
	display: none;
	height:90%;
	/*height: 32%;*/
}

#advanced_search__jump_to__right_hand
{
	align-self: right;
	text-align: right;
	margin-right: 20%;
}

#advanced_search__jump_to__submit
{}