#advanced_search_head
{
	position: fixed;
	left:0px;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: #7B85F6;
}

#acemap
{
	height: 10%;

}

#test
{
	height: 10%;
	display: inline;
}

#advanced_ancestor_margin	/*margin*/
{
	position: fixed;
	left: 0px;
	top: 10%;
	background-color: #D8E5E9;
	/*background-color: #E7E3E3;*/
	height: 15%;
}

.advanced_ancestor	/*serach box - altogether*/
{
	/*display: none;*/
	position: fixed;
	left: 0px;
	top: 30%;
	background-color: #D8E5E9;
	/*background-color: #E7E3E3;*/
	/*height: 100%;*/
	height: auto;
	width: 25%;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
}

#advanced_boxes_root	/*serach box - container of all lines of search boxes*/
{


}


.advanced_box	/*every line of box*/
{


}

#advanced_search_target_select	/*select target*/
{
	height: 10%;
	width: 30%;
}

#advanced_search_bool_select	/*select bool*/
{
	height: 10%;
	width: 20%;
}

#advanced_search_word_input_text	/*input_text word*/
{
	height: 10%;
	width: 40%;
}

#advanced_search_result_ancestor	/*serach result - altogether*/
{	
	margin-left: 3%;
	/*width: 75%;*/
	/*margin-left:25%;*/
}

.advanced_search_result	/*search result*/
{


}

.table__result
{
	margin:2% 2%;
	width: auto;
	border: 1px solid #000000;
	text-align: center;
}

.advanced_search_result_turn_page	/*search result - turn page*/
{


}

#advanced_search_add_box	/*button - add line*/
{
	width: 50px;
	height: 50px;
}

#advanced_search_del_box	/*button - del line*/
{
	width: 50px;
	height: 50px;
	display: none;
}

#advanced_search_submit	/*button - submit*/
{
	width: 25%;
	height: 10%;
}

#advanced_search_hide_show
{
	position: fixed;
	top: 30%;
	left: 25%;
	background-color: #FF0000;
	cursor: pointer;
	width: 3%;
/*	height: 100%;*/
}

#advanced_search__jump_to__right_hand
{

}

#advanced_search__jump_to__submit
{


}