html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  /*top: 50%;*/
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  /*background-image: url("/EE101-Final_Project/Final_Project/pics/cover1.jpg");*/
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("/EE101-Final_Project/Final_Project/images/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("/EE101-Final_Project/Final_Project/images/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("/EE101-Final_Project/Final_Project/images/cd-background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

#copyright_ancestor
{
  vertical-align: bottom;
  position: absolute;
  text-align: center;
  bottom: 0;
}

#copyright__copyright  /*©*/,#copyright__year,#copyright__course
{
  vertical-align: middle;
  font-family: "3ds";/*"Calibri";*/
  font-size: 50%;
}

#copyright__webpage_name  /*Phantom */
{
  font-family:'Agnes-Bold';
  font-size: 60%;
}

#copyright__year  /*2018 S2 */
{}
#copyright__course  /*EE101*/
{}

.whole_input
{
  margin: 0 0 5% 0;

}

.input__button
{
  width: 50%;
  padding: 1.2% 1%;
/*  margin: 8px 0;
*/  display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
text-align: left;
}

.submit__reset
{
  width: 5%;
  background-color: #3385ff;
  color: white;
  padding: 1% 0 1% 0;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family:'HelveticaNeue';
  transition-duration: 0.4s;
}

.submit__reset:hover
{
  color: #3385ff;
  background-color: white;
}

.button {
  display: inline;
  border-radius: 4px;
  background-color: #39A136;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 43%;
  /*padding: 20px;*/
  width: 14%;
  transition: all 0.5s;
  cursor: pointer;
  font-family:'HelveticaNeue';
  padding: 1% 0 1% 0;
  margin: 0.25% 0 0 0;

}

.button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}
/*»*/
.button span:after {
  content: ' >>';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.greeting
{
  margin: -7% 3% 17% 50%;
  font-size: 150%;
}

.two_choice
{
  font-size: 80%;
  margin: 10% 0 0 60%;
  transition-duration: 0.3s;
}

.two_choice:hover
{
  color: white;

}

