
#title
{
	text-align: center;
	margin: -5% 0 0 40%;
	font-family: ChannelSlanted2;
	font-size: 120%;
}

#acemap
{
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 1% 70% 0 5%;
}

#submit
{
	width: 5%;
	background-color: #3385ff;
	color: white;
	padding: 1% 0 1% 0;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}

#submit:hover
{
	background-color: #FFFFFF;
	color: #3385ff;
	font-family:'HelveticaNeue';
}

#paper_title
{
	color: white;
}

#author_name
{
	color: white;
}


.body
{
	background-color:  #000000;
	color: white;
	/*background-image: url("/EE101-Final_Project/Final_Project/pics/search_cover3.jpg");*/
}

.input_button
{
	width: 30%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: left;
	z-index: 10;
}

.output_href
{
	text-decoration: none;
	font-family:'Regencie';
	color: white;
}

