#title
{
	text-align: center;

}

#acemap
{
	width: auto;
	height: auto;
	max-width: 20%;
	max-height: 20%;
	float: left;
}

.body
{
	background-color:  #C7EDCC;
}

.input_button
{
	width: 30%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: left;
	z-index: 10;
}

