
body
{
	text-align: center;
	background-color: #C7EDCC;
}

.body__homepage
{
	/*background-image: url("/lab03/pics/homepage_background.jpg");*/
	background-image: url("/EE101-Final_Project/Final_Project/pics/IMG_5349.jpg");
	background-size: 100%,100%;
	background-position: center;
	/*background-color: #EDC7D0;*/
	text-align: center;
	color: #96E703;
}

.table__result
{
	margin: 0 auto;
	width: 88%;
	border: 0;
	border: 1px solid #000000;
	text-align: center;
}

.table__result tr	/*new line*/
{
	line-height: 30px;
	border-color: #ccc;
}

.table__result th	/*table header*/
{
	text-align: center;
	color: #928484;
/*	background: #E4DCDC;*/
}

.table__result td	/*new row of a line*/
{
	text-align: center;
	border-color: #ccc;
}

.table__result tr:nth-child(odd)
{
	background: #ccc;
}

.table__result td:nth-child(1)	/*Title*/
{
	font-family: Arial;
	font-style: italic;

}

.table__result td:nth-child(2)	/*Author Name*/
{
	font-family: New Times Roman;
	font-style: normal;
}

.table__result td:nth-child(3)	/*Conference Name*/
{
	font-family: Chaparral Pro Light;
	font-style: italic;
}

.search_return_to_homepage_image
{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: -90%;
}

#form__jump_to__inline
{
	margin:0px;
	display: inline;
}

#form__jump_to__right_hand
{
	align-self: right;
	text-align: right;
	margin-right: 20%;
}
