
.body__homepage
{
	background-image: url("/EE101-Final_Project/Final_Project/pics/cover1.jpg");
	background-size: 130%;
	background-position: center;
	text-align: center;
	/*background-color: #EDC7D0;*/
	color: #FFFFFF;
	font-family:'Agnes-Bold';
	font-size: 200%;
}

.h1
{
	color: #FFFFFF;
	font-family:'ChannelSlanted2';
	font-style: italic;
	margin: 0 10% 0 50%;/*上 右 下 左*/
}

.head_pic
{
	margin: 3% 60% 0 0;
	width:35%;

}

.line
{
	position: relative;
	top: 50px;
	left: 120px;
	height: 4px;
	background: #FFFFFF;
	width:1000px;
}

.input_button/*cyf：网上扒的代码，改变的是input框的样式，链接https://www.cnblogs.com/cnsevennight/p/4143792.html*/
{
	width: 60%;
	padding: 1% 1%;
/*	margin: 8px 0;
*/	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	/*border: 3px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
	text-align: left;
	position: relative;
	top: 200px;
}

.submit_reset
{
	border: 3px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	text-align: left;
	margin: 20% 0 20% 0;

	font-family:'Impact';
}

.p2
{
	position: relative;
	margin: 30% 25% 0 25%;
	font-family: "Impact";
}

.table__result
{
	margin: 0 auto;
	width: 88%;
	border: 0;
	border: 1px solid #000000;
	text-align: center;
}

.table__result tr	/*new line*/
{
	line-height: 30px;
	border-color: #ccc;
}

.table__result th	/*table header*/
{
	text-align: center;
	color: #928484;
	/*	background: #E4DCDC;*/
}

.table__result td	/*new row of a line*/
{
	text-align: center;
	border-color: #ccc;
}

.table__result tr:nth-child(odd)
{
	background: #ccc;
}

.table__result td:nth-child(1)	/*Title*/
{
	font-family: Arial;
	font-style: italic;

}

.table__result td:nth-child(2)	/*Author Name*/
{
	font-family: New Times Roman;
	font-style: normal;
}

.table__result td:nth-child(3)	/*Conference Name*/
{
	font-family: Chaparral Pro Light;
	font-style: italic;
}

#all__return_to_homepage_image
{
	width: 30px;
	margin-top: -10%;
	margin-left: -90%;
}

.search__Widget_title
{
	width: 150px;
}

.search__Widget_author_name
{
	width: 100px;
}

.search__Widget_conference_name
{
	width: 50px;
}

#form__jump_to__inline
{
	margin:0px;
	display: inline;
}

#form__jump_to__right_hand
{
	align-self: right;
	text-align: right;
	margin-right: 20%;
}

#search__Turn_Page_prev_page
{
	/*size: 20%;*/
	width: 30px;
}

#search__Turn_Page_selected
{
	width: 30px;
}

#search__Turn_Page_not_selected
{
	width: 30px;
}

#search__Turn_Page_next_page
{
	width: 30px;
}

#search__Turn_Page_empty
{
	width: 30px;
}

.table__Turn_Page
{
	margin: 0 auto;
	text-align: center;
}

.all__Turn_Page_jump_to_number
{
	width: 5%;
}

/*Disable Up and Down Arrows*/
/*Chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none !important;
	margin: 0; 
}
/*Firefox*/
input[type="number"]
{
	-moz-appearance:textfield;
}